.search-bar-container {
  position: absolute;
  right: 0;
  top: $toolbar_height;
  display: block;
  align-self: flex-end;
  width: 100%;
  max-width: $search-bar-max-width;
  min-height: $search-bar-height;
  height: max-content;
  background-color: var(--search-bar-bg-color);
  transform: translateX(110%);
  transition: transform 0.3s ease-out;

  &.is-on {
    transform: translateX(0%);
  }
}