
// light theme color declarations

:root {
  // background
  --background_white: #FFFFFF;
  --background_grey: #ECECEC;
  --background_light_blue: #F3F8FE;

  // texts
  --text-0: #2B3039;
  --text-0_1: #626D80;
  --warning-0: #FF3950;

  // box-shadow
  --box-shadow-color: rgba(157, 157, 157, 0.17);
}