@font-face {
  src: url(../assets/fonts/Nurito_Sans_400.woff2) format('woff2');
  font-family: "Nurito_Sans";
  font-weight: 400;
}

@font-face {
  src: url(../assets/fonts/Nurito_Sans_600.woff2) format('woff2');
  font-family: "Nurito_Sans";
  font-weight: 600;
}

@font-face {
  src: url(../assets/fonts/Nurito_Sans_700.woff2) format('woff2');
  font-family: "Nurito_Sans";
  font-weight: 700;
}

@font-face {
  src: url(../assets/fonts/MaterialIcons_400.woff2) format('woff2');
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
}

:root {
  font-size: 10px; // base font-size
  font-family: "Nurito_Sans";
  -moz-osx-font-smoothing: grayscale; // fire-fox
  text-rendering: optimizeLegibility; // Safari and Chrome
  -webkit-font-smoothing: antialiased; // all webkit browsers
  font-feature-settings: 'liga'; // IE

  // font-size definitions
  --size-0: 1.5rem;

  // line-height
  --line-height: 1.25;
}

.mi {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: var(--size-0);
  display: inline-block;
  line-height: var(--line-height);
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.mib {
  font-weight: 700;
}