@import "mixins";

// z-indexes
$zIndex_navigation_bar: 20;
$zIndex_shopping_cart: 30;
$zIndex_drawer: 40;
$zIndex_modal: 50;

// toolbar
$toolbar_height: 7.4rem;
$toolbar_height_mobile: 9.7rem;

// development helpers
$assist-dash: 1px dashed #000;

// breakpoints
$smallphone: 415px;
$tablet: 769px;
$desktop: 1200px;

// drawer
$drawer-max-width: 320px;

// search-bar
$search-bar-height: 4.6rem;
$search-bar-max-width: 320px;

// cart
$cart-max-width: 350px;

// buttons
$button-min-height: 4.6rem;
$button-min-width: 26rem;

// general
$min-width: 320px;